.thirdSection {
  background-color: var(--gray);
  padding: 5rem 0 0;
  position: relative;
  margin: 5rem 0 0;

  h3 {
    color: var(--orange);
    font-size: var(--font-13);
    line-height: 22px;
    letter-spacing: 1.3px;
    text-align: center;
  }

  h2 {
    font-size: var(--font-40);
    line-height: 48px;
    letter-spacing: -1.2px;
    margin-top: 0.75rem;
    text-align: center;

    @media screen and (min-width: 1920px) {
      margin-top: 1.25rem;
    }
  }

  summary {
    color: var(--charcoal-gray);
    line-height: 32px;
    list-style-type: none;
    letter-spacing: 0.16px;
    margin: 2rem auto 0;
    text-align: center;
  }

  .iphone {
    display: block;
    margin: 2.5rem auto 0;
    position: relative;
    width: 200px;
    z-index: 1;
  }

  .iphone-desktop {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .thirdSection {
    margin-top: 3.75rem;
    padding-top: 73px;

    h3 {
      padding-bottom: 1.25rem;
    }

    h2 {
      font-size: var(--font-52);
      font-weight: 600;
      line-height: 62px;
      margin-top: 0;
    }

    summary {
      color: var(--dark-green);
      font-size: var(--font-14);
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.56px;
      margin-top: 1.5rem;
    }

    .iphone {
      display: none;
    }

    .iphone-desktop {
      display: block;
      margin: 60px auto 0;
      position: relative;
      z-index: 1;
    }
  }
}
