.section {
  padding: 3.75rem 1.25rem 10rem;
  margin-bottom: 5rem;

  h1 {
    color: var(--primary-color);
    font-size: var(--font-42);
    font-weight: 700;
    letter-spacing: -1.26px;
    line-height: 51px;
    padding-top: 1.25rem;
    max-width: 611px;
    margin: 0;
  }

  summary {
    list-style-type: none;
  }

  fieldset {
    border: none;
    position: relative;
    margin: 2.5rem auto 0;
    max-width: 335px;
    padding: 0;

    input {
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius-26);
      height: 53px;
      width: 100%;

      &::placeholder {
        color: var(--placeholder);
        font-family: 'SUIT', sans-serif;
        font-size: var(--font-14);
        padding-left: 1rem;
      }
    }

    button {
      border: none;
      border-radius: var(--border-radius-25);
      background-color: var(--orange);
      color: var(--white);
      font-family: 'SUIT', sans-serif;
      font-size: var(--font-13);
      height: 45px;
      padding: 0.9375rem 1rem;
      position: absolute;
      right: 4px;
      top: 4px;
      width: 104px;
    }
  }

  .itemsGroup {
    padding-top: 3.9375rem;
    position: relative;
    max-width: 335px;
    margin: auto;

    // MOBILE
    .line,
    .safe,
    .wine,
    .bag,
    .watch,
    .dot {
      position: absolute;
    }

    .line {
      width: 335px;
    }

    .dot {
      left: 332px;
    }

    .safe {
      height: 201px;
      width: 146px;
      left: 175px;
      top: 167px;
    }

    .wine {
      height: 195px;
      width: 68px;
      left: 92px;
      top: 169px;
    }

    .bag {
      height: 88px;
      width: 125px;
      left: 13px;
      top: 280px;
      z-index: 1;
    }

    .watch {
      height: 154px;
      width: 89px;
      top: 228px;
      left: 125px;
      z-index: 1;
    }

    // DESKTOP
    .dot-desktop,
    .line-desktop,
    .graph-desktop,
    .safe-desktop,
    .watch-desktop,
    .wine-desktop,
    .bag-desktop {
      display: none;
    }
  }

  &:nth-of-type(1) {
    margin-top: 3.75rem;
  }

  &:nth-of-type(odd) {
    background-color: var(--gray);
  }

  &:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.875rem 1.25rem 0;
    margin-bottom: 2.875rem;

    .fake-article {
      display: none;
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;

      h2 {
        font-size: var(--font-32);
        font-weight: 700;
        text-align: center;
        line-height: 44px;
      }

      summary {
        color: var(--charcoal-gray);
        font-size: var(--font-16);
        line-height: 2rem;
        padding: 0;
      }

      &:first-child {
        gap: 0.4375rem;
      }

      &:not(:first-child) {
        h2 {
          font-size: var(--font-40);
          letter-spacing: -1.2px;
        }

        summary {
          color: var(--secondary-color);
          font-size: var(--font-14);
          letter-spacing: 1.12px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  &:nth-of-type(3) {
    padding: 5rem 0 0;
    position: relative;
    margin: 5rem 0 0;

    h2 {
      font-size: var(--font-40);
      line-height: 48px;
      letter-spacing: -1.2px;
      text-align: center;

      &:nth-of-type(2) {
        margin: auto;
        width: 220px;
      }
    }

    summary {
      color: var(--charcoal-gray);
      line-height: 32px;
      letter-spacing: 0.16px;
      margin: auto;
      padding-top: 2rem;
      text-align: center;
      width: 223px;
    }

    .iphone {
      display: block;
      margin: 42px auto 0;
      position: relative;
      width: 200px;
      z-index: 1;
    }

    .iphone-desktop {
      display: none;
    }
  }

  &:nth-of-type(4) {
    padding: 7.5rem 1.25rem 0;

    & > main {
      & > div {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: var(--font-34);
          font-weight: 600;
          line-height: 44px;
          padding-top: 2rem;
          text-align: center;
          width: 185px;
        }

        summary {
          padding-top: 1rem;
        }

        a {
          margin-top: 2.75rem;
          width: 124px;
        }
      }

      .orangeImg {
        height: 2rem;
        width: 2rem;
      }

      .imagesGroup {
        margin: auto;
        padding-top: 7.5rem;
        position: relative;
        width: 335px;

        .desktop {
          display: none;
        }

        .watch,
        .glass,
        .bag,
        .receipt {
          position: absolute;
        }

        .watch {
          bottom: 18px;
          height: auto;
          left: 111px;
          width: 93px;
          z-index: 1;
        }

        .bag {
          bottom: 21px;
          height: auto;
          left: 11px;
          width: 154px;
        }

        .glass {
          bottom: 62px;
          left: 241px;
        }

        .receipt {
          height: auto;
          left: 114px;
          top: 185px;
          width: 240px;
          z-index: 2;
        }
      }

      &:nth-of-type(2) {
        padding-top: 16.5rem;

        & > div {
          h2 {
            text-align: start;
            width: 299px;
          }
        }

        .imagesGroup {
          .safeShield {
            position: relative;
            top: 100px;
            left: 84px;
          }

          .firstLine,
          .secondLine,
          .firstCircleShield,
          .secondCircleShield {
            position: absolute;
          }

          .firstLine {
            bottom: 79px;
            left: 166px;
          }

          .secondLine {
            left: 166px;
            top: 399px;
          }

          .firstCircleShield {
            left: 117px;
            top: 60px;
          }

          .secondCircleShield {
            left: 117px;
            top: 459px;
          }
        }
      }

      &:nth-of-type(3) {
        padding-top: 25.5rem;

        & > div {
          h2 {
            text-align: start;
            width: 100%;
          }

          a {
            margin-top: 4.125rem;
            width: 124px;
          }
        }

        .imagesGroup {
          padding-top: 3.75rem;

          .desktop {
            display: none;
          }

          .rolexPrices {
            position: relative;
            bottom: 7px;
            left: 49px;
          }

          .bagPrices,
          .analyticChart,
          .analyticChart1 {
            position: absolute;
          }

          .bagPrices {
            left: 9px;
            top: 158px;
          }

          .analyticChart {
            top: 289px;
            right: -8px;
          }

          .analyticChart1 {
            top: 289px;
            right: -9px;
          }
        }
      }
    }
  }

  &:nth-of-type(5) {
    margin-top: 293px;
    padding: 7.5rem 1.25rem;

    h2.desktop {
      display: none;
    }

    article {
      margin: 3.75rem auto 0;

      h3 {
        margin-top: 44px;
      }

      .imagesGroup {
        background-color: var(--white);
        border-radius: var(--border-radius-16);
        height: 260px;
        margin: auto;
        position: relative;
        width: 335px;

        .steps {
          display: none;
        }

        .rectangle,
        .watch,
        .glass,
        .bag,
        .receipt {
          position: absolute;
        }

        .rectangle {
          left: 30px;
          top: 86px;
          width: 210px;
          height: 107px;
        }

        .watch {
          top: 28px;
          height: auto;
          left: 132px;
          width: 86px;
          z-index: 1;
        }

        .bag {
          top: 74px;
          height: auto;
          left: 40px;
          width: 142px;
        }

        .glass {
          top: 84px;
          left: 255px;
        }

        .receipt {
          left: 165px;
          top: 117px;
          height: auto;
          width: 162px;
          z-index: 2;
        }

        .purchaseProcess {
          position: absolute;
          left: 30px;
          top: 33px;
        }
      }

      &:not(:nth-of-type(1)) {
        margin: 5rem auto 0;
      }
    }
  }

  &:nth-of-type(6) {
    margin-bottom: 0;
    padding-bottom: 159px;

    & > div {
      h2 {
        margin: auto;
        width: 191px;
      }

      .categories {
        & > ul {
          display: flex;
          flex-direction: row;
          overflow: auto;
          gap: 0.625rem;
          margin: 0 -1.25rem;
          padding: 0 1.25rem;
          padding-top: 2rem;

          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    & > main {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
      padding-top: 2.75rem;

      article {
        margin: auto;
        width: 335px;

        .rectangle {
          align-items: center;
          background-color: var(--lighter-gray);
          border-radius: var(--border-radius-10);
          display: flex;
          justify-content: center;
          margin: auto;
          height: 316px;
          position: relative;

          button {
            border: none;

            .favorite {
              position: absolute;
              top: 16px;
              right: 16px;
            }
          }
        }

        h6 {
          padding-top: 1.5rem;
        }

        summary {
          padding-top: 0.5rem;
          line-height: 22px;
        }

        .prices {
          display: flex;
          flex-direction: column;

          .priceTitle {
            display: flex;
            justify-content: space-between;

            h6 {
              color: var(--medium-gray);
              font-family: 'Spoqa Han Sans Neo', sans-serif;
              font-size: var(--font-13);
              font-weight: 400;
            }
          }

          .priceNumber {
            display: flex;
            justify-content: space-between;

            h5 {
              font-size: var(--font-24);
              font-weight: 700;
              padding-top: 0.25rem;
            }
          }
        }

        .save {
          align-items: center;
          border-radius: 0.25rem;
          background: rgba(226, 73, 50, 0.1);
          display: flex;
          justify-content: center;
          gap: 0.25rem;
          height: 1.375rem;
          margin-left: auto;
          margin-top: 0.5rem;
          width: 6rem;

          h6 {
            color: var(--vivid-coral);
            font-size: var(--font-13);
            font-weight: 500;
            padding: 0;
          }
        }
      }
    }

    & > a {
      width: 157px;
      height: 38px;
      font-size: var(--font-13);
      font-weight: 200;
      line-height: 22px;
      letter-spacing: 0.39px;
      margin: 60px auto 0;
      text-transform: uppercase;
    }
  }

  &:nth-of-type(7) {
    background-color: var(--black);
    border-radius: var(--border-radius-20);
    height: 547px;
    margin: auto;
    padding: 3.75rem 1rem 10rem;
    position: relative;
    width: 335px;

    fieldset {
      margin-top: 3.75rem;
    }

    .background,
    .line,
    .dot {
      position: absolute;
    }

    .background {
      bottom: 0;
      left: 0;
    }

    .line {
      bottom: 75px;
      left: 0;
    }

    .dot {
      bottom: 158px;
      right: 0;
    }

    .chart-desktop,
    .title-desktop {
      display: none;
    }
  }
}

@media screen and (min-width: 376px) {
  .section {
    &:nth-of-type(4) {
      & > main {
        & > div {
          h2 {
            width: fit-content;
          }
        }

        &:nth-of-type(2) {
          & > div {
            h2 {
              width: fit-content;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .section {
    h1 {
      font-size: var(--font-60);
      letter-spacing: unset;
      line-height: 74px;
      text-transform: capitalize;
    }

    summary {
      font-size: var(--font-14);
      letter-spacing: 0.42px;
      line-height: 28px;
      padding-top: 2.25rem;
    }

    &:nth-of-type(1) {
      border-radius: var(--border-radius-16);
      margin: 4.625rem 2.5rem 3.75rem;

      article {
        margin: auto;
        max-width: 1200px;
      }
    }

    &:nth-of-type(6) {
      margin-bottom: 0;

      & > div {
        .categories {
          & > ul {
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .section {
    align-items: center;
    display: flex;

    fieldset {
      margin-left: 0;
      max-width: 382px;
      width: 100%;
    }

    .itemsGroup {
      padding-top: 0;
      max-width: unset;
      margin: 0 auto;

      .safe {
        top: 106px;
      }

      .bag {
        top: 220px;
      }

      .wine {
        top: 109px;
      }

      .watch {
        top: 168px;
      }
    }

    &:nth-of-type(2) {
      flex-direction: row;
      justify-content: center;
    }

    &:nth-of-type(3) {
      flex-direction: column;

      h2 {
        &:nth-of-type(2) {
          width: unset;
        }
      }
    }

    &:nth-of-type(4) {
      flex-direction: column;
      height: fit-content;
      padding-top: 15rem;

      & > main {
        display: flex;
        max-width: 1200px;
        width: 100%;
        justify-content: space-between;

        &:nth-of-type(2) {
          flex-direction: row-reverse;
          padding-top: 235px;

          & > div {
            &:nth-of-type(1) {
              padding-left: 0.5rem;

              & > img {
                margin-top: 23px;
              }

              h2 {
                line-height: 40px;
                width: 408px;
              }

              summary {
                width: 499px;
              }
            }
          }
        }

        &:nth-of-type(3) {
          padding-top: 296px;

          & > div {
            &:nth-of-type(1) {
              h2 {
                line-height: 40px;
              }
            }
          }

          .imagesGroup {
            .desktop {
              display: block;
            }
          }
        }

        & > div {
          width: 50%;

          &:nth-of-type(1) {
            & > img {
              margin-top: 25px;
              height: 3rem;
              width: 3rem;
            }

            h2 {
              font-size: var(--font-36);
              line-height: 36px;
              padding-top: 2.5rem;
            }

            summary {
              font-size: var(--font-13);
              letter-spacing: 0.39px;
              line-height: 22px;
              padding-top: 1.25rem;
              width: 429px;
            }

            a {
              margin-top: 2.5rem;
            }
          }
        }

        .imagesGroup {
          margin: unset;
          padding-top: unset;
          width: 50%;

          .rectangle,
          .watch,
          .glass,
          .bag,
          .receipt,
          .safeShield,
          .firstLine,
          .secondLine,
          .firstCircleShield,
          .secondCircleShield,
          .rolexPrices,
          .bagPrices,
          .analyticChart,
          .analyticChart1 {
            display: none;
          }

          .desktop {
            display: block;

            &.watch {
              bottom: unset;
              left: 165px;
              position: relative;
              width: 131px;
            }

            &.rectangle {
              position: absolute;
              top: 85px;
              left: 8px;
            }

            &.bag {
              bottom: 90px;
              left: 23px;
              width: 218px;
            }

            &.receipt {
              top: 143px;
              left: 224px;
              width: 242px;
            }

            &.glass {
              bottom: 183px;
              left: 354px;
            }

            &.safeShield {
              left: 188px;
              top: 105px;
              z-index: 1;
            }

            &.firstLine {
              left: 125px;
              top: 185px;
            }

            &.secondLine {
              left: 338px;
              top: 185px;
            }

            &.firstCircleShield {
              left: 58px;
              top: 151px;
            }

            &.secondCircleShield {
              left: 385px;
              top: 151px;
            }

            &.rolexPrices {
              bottom: 41px;
              left: 120px;
            }

            &.bagPrices {
              left: 3px;
              top: 115px;
            }

            &.analyticChart,
            &.analyticChart1 {
              top: 228px;
              right: 117px;
            }
          }
        }
      }
    }

    &:nth-of-type(5) {
      flex-direction: column;

      & > div {
        display: flex;
        gap: 20px;

        & > article {
          margin-top: 3.75rem;
          width: 335px;

          &:not(:nth-of-type(1)) {
            margin-top: 3.75rem;
          }
        }
      }
    }

    &:nth-of-type(6) {
      flex-direction: column;
      padding-bottom: 60px;

      & > main {
        flex-direction: row;
      }

      & > div {
        h2 {
          width: unset;
        }
      }
    }

    &:nth-of-type(7) {
      display: flex;
      flex-direction: column;
      height: 527px;
      padding-top: 6.25rem;
      width: 1200px;

      h2 {
        display: none;
      }

      fieldset {
        margin: 2.25rem auto 0;
        max-width: 382px;
        position: relative;
        z-index: 1;
      }

      .title-desktop {
        color: var(--white);
        font-size: var(--font-52);
        display: block;
        line-height: 62px;
        margin: auto;
        text-align: center;
        width: 780px;
      }

      img {
        display: none;
      }

      .chart-desktop {
        display: block;
        position: absolute;

        &.background {
          bottom: 0;
          left: 0;
        }

        &.line {
          bottom: 50px;
          left: -1px;
          width: 1201px;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .section {
    height: 713px;
    padding-top: 123px;
    position: relative;

    .itemsGroup {
      bottom: 0;
      right: 0;
      max-width: unset;
      position: absolute;

      .line,
      .safe,
      .wine,
      .bag,
      .watch,
      .dot,
      .graph {
        display: none;
      }

      .graph-desktop {
        display: block;
      }

      .line-desktop,
      .dot-desktop,
      .safe-desktop,
      .watch-desktop,
      .wine-desktop,
      .bag-desktop {
        display: block;
        position: absolute;
      }

      .line-desktop {
        bottom: 161px;
        right: 0;
      }

      .dot-desktop {
        bottom: 435px;
        right: -3px;
      }

      .safe-desktop {
        bottom: 110px;
        right: 200px;
      }

      .watch-desktop {
        bottom: 77px;
        right: 456px;
        z-index: 1;
      }

      .wine-desktop {
        bottom: 121px;
        right: 585px;
      }

      .bag-desktop {
        bottom: 110px;
        right: 636px;
        z-index: 1;
      }
    }

    fieldset {
      margin-left: 0;
      width: 382px;
    }

    &:nth-of-type(2) {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      gap: unset;
      height: 174px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;

      .fake-article {
        width: 406px;
        height: 128px;
        display: block;
      }

      article {
        width: fit-content;

        &:first-child {
          align-items: start;
          gap: 0.5rem;
          padding-right: 111px;
          width: 406px;

          position: absolute;
          top: 46px;
          left: 92px;

          h2 {
            font-size: var(--font-36);
            font-weight: 700;
            width: 295px;
            text-align: start;
          }

          summary {
            color: var(--secondary-color);
            font-size: var(--font-14);
            font-weight: 500;
            letter-spacing: 0.42px;
          }
        }

        &:nth-of-type(2) {
          padding-right: 63px;
        }

        &:nth-of-type(3) {
          padding-right: 77px;
        }

        &:not(:first-child) {
          h2 {
            font-size: var(--font-54);
            font-weight: 600;
          }

          summary {
            font-weight: 500;
            letter-spacing: 0.91px;
          }
        }
      }
    }

    &:nth-of-type(3) {
      height: 820px;
      margin-top: 3.75rem;
      padding-top: 4.5625rem;

      h2 {
        font-size: var(--font-52);
        font-weight: 600;
        line-height: 62px;
        &:nth-of-type(2) {
          width: unset;
        }
      }

      summary {
        color: var(--dark-green);
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.56px;
        padding-top: 1.5rem;
        width: 337px;
      }

      .iphone {
        display: none;
      }

      .iphone-desktop {
        display: block;
        margin: 60px auto 0;
        position: relative;
        z-index: 1;
      }
    }

    &:nth-of-type(4) {
      height: fit-content;
      padding-top: 15rem;

      & > main {
        display: flex;
        max-width: 1200px;
        margin: auto;

        &:nth-of-type(2) {
          flex-direction: row-reverse;
          padding-top: 235px;

          & > div {
            &:nth-of-type(1) {
              padding-left: 0.5rem;

              & > img {
                margin-top: 23px;
              }

              h2 {
                line-height: 40px;
                width: 408px;
              }

              summary {
                width: 499px;
              }
            }
          }
        }

        &:nth-of-type(3) {
          padding-top: 296px;

          & > div {
            &:nth-of-type(1) {
              h2 {
                line-height: 40px;
              }
            }
          }

          .imagesGroup {
            .desktop {
              display: block;
            }
          }
        }

        & > div {
          width: 50%;

          &:nth-of-type(1) {
            & > img {
              margin-top: 25px;
              height: 3rem;
              width: 3rem;
            }

            h2 {
              font-size: var(--font-36);
              line-height: 36px;
              padding-top: 2.5rem;
            }

            summary {
              font-size: var(--font-13);
              letter-spacing: 0.39px;
              line-height: 22px;
              padding-top: 1.25rem;
              width: 429px;
            }

            a {
              margin-top: 2.5rem;
            }
          }
        }

        .imagesGroup {
          margin: unset;
          padding-top: unset;
          width: 50%;

          .rectangle,
          .watch,
          .glass,
          .bag,
          .receipt,
          .safeShield,
          .firstLine,
          .secondLine,
          .firstCircleShield,
          .secondCircleShield,
          .rolexPrices,
          .bagPrices,
          .analyticChart,
          .analyticChart1 {
            display: none;
          }

          .desktop {
            display: block;

            &.watch {
              bottom: unset;
              left: 165px;
              position: relative;
              width: 131px;
            }

            &.rectangle {
              position: absolute;
              top: 85px;
              left: 8px;
            }

            &.bag {
              bottom: 90px;
              left: 23px;
              width: 218px;
            }

            &.receipt {
              top: 143px;
              left: 224px;
              width: 242px;
            }

            &.glass {
              bottom: 183px;
              left: 354px;
            }

            &.safeShield {
              left: 188px;
              top: 105px;
              z-index: 1;
            }

            &.firstLine {
              left: 125px;
              top: 185px;
            }

            &.secondLine {
              left: 338px;
              top: 185px;
            }

            &.firstCircleShield {
              left: 58px;
              top: 151px;
              z-index: 1;
            }

            &.secondCircleShield {
              left: 385px;
              top: 151px;
              z-index: 1;
            }

            &.rolexPrices {
              bottom: 41px;
              left: 120px;
            }

            &.bagPrices {
              left: 3px;
              top: 115px;
            }

            &.analyticChart,
            &.analyticChart1 {
              top: 228px;
              right: 117px;
            }
          }
        }
      }
    }

    &:nth-of-type(5) {
      height: 820px;
      margin-top: 266px;
      padding-top: 130px;

      & > h2 {
        display: none;

        &.desktop {
          display: block;
          font-size: var(--font-42);
          line-height: 44px;
          letter-spacing: 2.52px;
        }
      }

      & > div {
        display: flex;
        gap: 1.25rem;
        max-width: 1200px;
        margin: auto;

        & > article {
          margin-top: 46px;

          .imagesGroup {
            height: 280px;
            width: 387px;

            img {
              display: none;

              &.steps {
                display: block;
                position: relative;
                left: 49px;
                top: 34px;

                &:nth-of-type(2) {
                  left: 41px;
                  top: 37px;
                  height: auto;
                  width: 328px;
                }

                &:nth-of-type(3) {
                  left: 41px;
                  top: 36px;
                  height: auto;
                  width: 325px;
                }
              }
            }
          }

          h3 {
            margin-top: 0;
            padding: 1.75rem 0 0.5rem;
          }

          summary {
            font-size: var(--font-13);
            padding-top: 0.5rem;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.01px;
          }

          &:not(:nth-of-type(1)) {
            margin-top: 46px;
          }

          &:nth-of-type(1) {
            summary {
              width: 313px;
            }
          }

          &:nth-of-type(2) {
            summary {
              width: 278px;
            }
          }

          &:nth-of-type(3) {
            summary {
              width: 355px;
            }
          }
        }
      }
    }

    &:nth-of-type(6) {
      height: auto;
      padding: 5rem 0 0;
      max-width: 1200px;
      margin: auto;

      & > div {
        align-items: end;
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: var(--font-52);
          line-height: 62px;
        }
      }

      & > main {
        flex-direction: row;
        gap: 1.25rem;
        padding-top: 2.5rem;

        article {
          margin: 0;
          width: 387px;

          summary {
            font-size: var(--font-20);
            font-weight: 700;
            line-height: 22px;
          }
        }
      }

      a {
        margin: auto;
        margin-top: 3.75rem;
        width: 157px;
      }
    }

    &:nth-of-type(7) {
      height: 527px;
      margin-top: 10rem;
      padding-top: 6.25rem;
      width: 1200px;

      h2 {
        display: none;
      }

      fieldset {
        margin: 2.25rem auto 0;
        max-width: 382px;
        position: relative;
        z-index: 1;
      }

      .title-desktop {
        color: var(--white);
        font-size: var(--font-52);
        display: block;
        line-height: 62px;
        margin: auto;
        text-align: center;
        width: 780px;
      }

      img {
        display: none;
      }

      .chart-desktop {
        display: block;
        position: absolute;

        &.background {
          bottom: 0;
          left: 0;
        }

        &.line {
          bottom: 50px;
          left: -1px;
          width: 1201px;
        }
      }
    }
  }
}

.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 1s forwards 1.5s;
}

.fade-in-bottom {
  opacity: 0;
  animation: fadeInBottom 1s forwards 1.7s;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 1s forwards 2.3s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// -------------------------------------------------------------
.floating-element {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
}

.floating-element.visible {
  opacity: 1;
  transform: translateY(0);
}

// -------------------------------------------------------------
.floating-element-2nd {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s 1s, transform 1s 1s;
}

.floating-element-2nd.visible {
  opacity: 1;
  transform: translateY(0);
}

// -------------------------------------------------------------
.floating-element-3rd {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s 2s, transform 1s 2s;
}

.floating-element-3rd.visible {
  opacity: 1;
  transform: translateY(0);
}

// -------------------------------------------------------------
.appear-element {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.appear-element.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-1 {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.appear-element-desktop-1.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-2 {
  opacity: 0;
  transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
}

.appear-element-desktop-2.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-3 {
  opacity: 0;
  transition: opacity 0.4s 0.4s, transform 0.4s 0.4s;
}

.appear-element-desktop-3.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-4 {
  opacity: 0;
  transition: opacity 0.6s 0.6s, transform 0.6s 0.6s;
}

.appear-element-desktop-4.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-5 {
  opacity: 0;
  transition: opacity 0.8s 0.8s, transform 0.8s 0.8s;
}

.appear-element-desktop-5.visible {
  opacity: 1;
}
