.footer {
  background-color: var(--gray);
  padding: 2.75rem 1.25rem 2.5rem;

  .above {
    display: flex;
    flex-direction: column;
    margin: auto;

    .social {
      padding-top: 2.5rem;

      ul {
        flex-direction: row;
        gap: 2.5rem;
      }
    }

    .menu {
      padding-top: 4.125rem;
    }
  }

  .below {
    display: flex;
    flex-direction: column;

    small {
      color: var(--grayish-blue);
      padding-top: 2.5rem;
      font-size: var(--font-12);
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 769px) {
  .footer {
    padding: 1.875rem 1.25rem;

    .above {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      .brand {
        order: 1;
      }

      .social {
        order: 3;
        padding-top: 0;
      }

      .menu {
        gap: 2.875rem;
        order: 2;
        padding-top: 0;

        ul {
          flex-direction: row;
        }
      }
    }

    .below {
      flex-direction: row;
      justify-content: space-between;
      margin: auto;

      small {
        order: 1;
        padding-top: 0;
      }

      ul {
        align-items: center;
        flex-direction: row;
        gap: 2.5rem;
        order: 2;
      }
    }
  }
}
