.footer {
  background-color: var(--gray);
  padding: 2.75rem 1.25rem 2.5rem;

  .above {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 2.5rem;

    .social {
      padding-top: 2.5rem;

      ul {
        flex-direction: row;
        gap: 2.5rem;

        a {
          transition: 0.4s;

          &:hover {
            color: var(--orange);
          }
        }
      }
    }

    .menu {
      padding-top: 4.125rem;

      ul {
        gap: 46px;

        a {
          transition: 0.4s;

          &:hover {
            color: var(--orange);
          }
        }
      }
    }
  }

  .below {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    small {
      color: var(--grayish-blue);
      padding-top: 2.5rem;
      font-size: var(--font-12);
      font-weight: 400;
    }

    ul {
      a {
        transition: 0.4s;

        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .footer {
    padding: 1.875rem 1.25rem;

    .above {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 4.375rem;

      .brand {
        order: 1;
      }

      .social {
        order: 3;
        padding-top: 0;
      }

      .menu {
        gap: 2.875rem;
        order: 2;
        padding-top: 0;

        ul {
          flex-direction: row;

          a {
            font-size: var(--font-13);
            font-weight: 700;
          }
        }
      }
    }

    .below {
      flex-direction: row;
      justify-content: space-between;
      margin: 1.5rem auto 0;

      small {
        order: 1;
        padding-top: 0;
      }

      ul {
        align-items: center;
        flex-direction: row;
        gap: 2.5rem;
        order: 2;

        a {
          font-size: var(--font-13);
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    .above {
      justify-content: start;

      .menu {
        margin-left: 310px;
      }

      .social {
        margin-left: auto;
      }
    }
  }
}
