.header {
  background-color: var(--white);
  height: 58px;
  top: 0;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  z-index: 3;

  & > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding: 0.75rem 1.25rem 1.5rem;

    .hamburger {
      cursor: pointer;
    }

    nav {
      display: none;
    }
  }

  &.scrolled {
    top: -60px;
  }
}

.header-scrolled {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  height: 58px;
  max-width: 1240px;
  margin: auto;
  padding: 0.75rem 1.25rem 1.5rem;
  top: 0;
  transition: 0.4s;
  position: fixed;
  width: 100%;

  .hamburger {
    cursor: pointer;
  }

  nav {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .header {
    height: 74px;
    padding: 0 1.25rem;

    & > div {
      height: 100%;
      padding: 0 1.25rem;

      .hamburger {
        display: none;
      }

      nav {
        display: block;

        ul {
          flex-direction: row;
          gap: 1.25rem;

          &.actions {
            align-items: center;
            display: flex;
            gap: 1rem;
          }
        }
      }
    }

    &.scrolled {
      top: -74px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .header {
    & > div {
      nav {
        ul {
          gap: 3.75rem;

          &.actions {
            gap: 2rem;
          }
        }
      }
    }
  }
}
