.header {
  display: flex;
  justify-content: space-between;
  height: 58px;
  max-width: 1200px;
  margin: auto;
  padding: 0.75rem 1.25rem 1.5rem;

  .hamburger {
    cursor: pointer;
  }

  nav {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .header {
    align-items: center;
    height: 74px;

    .hamburger {
      display: none;
    }

    nav {
      display: block;

      ul {
        flex-direction: row;
        gap: 3.75rem;

        &.actions {
          align-items: center;
          display: flex;
          gap: 2rem;
        }
      }
    }
  }
}
