.keen-slider {
  background-color: var(--white);
  border-radius: var(--border-radius-10);
  height: 5rem;
  box-shadow: 0px 20px 35px 0px rgba(97, 97, 97, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: auto;
    width: fit-content;
  }
}

.floating-element-3rd-right {
  opacity: 0;
  transition: opacity 1s 2s, transform 1s 2s;
}

.floating-element-3rd-right.visible {
  opacity: 1;
}
