:root {
  --primary-color: #18181b;
  --secondary-color: #6a6a76;
  --alt-primary-color: #18181a;
  --black: #000;

  --ghost-white: #f7f7f8;
  --white: #fff;

  --navy-blue: #f0f0f0;
  --silver-sand: #eaeaea;
  --soft-gray: #fafafa;
  --gainsboro: #e3e3e3;
  --slate-gray: #9e9ea8;
  --light-state-gray: #b3b3bb;
  --pale-gray: #e6e6e6;
  --silver: #d4d4d4;
  --lighter-gray: #f8f8f8;
  --light-gray: #d9d9d9;
  --medium-gray: #a6a6a6;
  --pigeon-gray: #7f7f7f;
  --dark-gray: #545454;
  --ash-gray: #7a7a7a;
  --gray: #f5f5f5;
  --grayish-blue: #687083;
  --dim-gray: #494949;

  --dark-green: #212521;
  --dark-charcoal-green: #21211e;
  --charcoal-gray: #4d4d55;

  --misty-rose: #fae5e5;
  --pink: #e1e1e1;

  --red-orange: #d43c25;
  --vivid-coral: #e24932;
  --orange: #fd7103;

  --placeholder: #a6a6af;
  --border-color: #ececee;

  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-28: 28px;
  --font-32: 32px;
  --font-34: 34px;
  --font-36: 36px;
  --font-40: 40px;
  --font-42: 42px;
  --font-52: 52px;
  --font-54: 54px;
  --font-60: 60px;

  --border-radius-6: 6px;
  --border-radius-10: 10px;
  --border-radius-16: 16px;
  --border-radius-16-5: 16.5px;
  --border-radius-20: 20px;
  --border-radius-25: 25px;
  --border-radius-26: 26.5px;

  --tablet-screen: 768px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'SUIT', sans-serif;
  scrollbar-color: #888 #f1f1f1;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

a {
  color: var(--primary-color);
  font-size: var(--font-14);
  font-weight: 600;
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

.slider-container {
  padding: 0px 20px;
}

// BUTTON
.outlined-button {
  font-weight: 500;
  transition: 0.4s;

  &:hover {
    color: var(--dim-gray);
  }
}

li {
  .borderred-oulined-rounded-button {
    color: var(--black);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--dark-charcoal-green);
    border-radius: 18.5px;
    font-size: var(--font-13);
    height: 2.375rem;
    padding: 0.5rem 1rem;
    min-width: 4.875rem;
    text-transform: uppercase;
    width: fit-content;
    white-space: nowrap;
    transition: 0.4s;

    &.selected {
      background-color: var(--black);
      color: var(--white);
    }

    &:hover {
      color: var(--orange);
    }
  }

  &:nth-child(2) {
    .borderred-oulined-rounded-button {
      width: 179px;
    }
  }
}

.rounded-button {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-20);
  color: var(--white);
  font-weight: 500;
  padding: 0.625rem 0.75rem;
  transition: 0.4s;

  &:hover {
    color: var(--orange);
  }
}

.rounded-arrow-button {
  align-items: center;
  background-color: var(--black);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-20);
  color: var(--white);
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  width: 124px;
}

// TITLE
.title-14-medium-grey {
  color: var(--medium-gray);
  font-size: var(--font-14);
  font-weight: 500;
  text-transform: uppercase;
}

.title-34-white-center {
  color: var(--white);
  font-size: var(--font-34);
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 44px;
  text-align: center;
}

.title-34-black-center {
  color: var(--black);
  font-size: var(--font-34);
  font-weight: 600;
  text-align: center;
  line-height: 44px;
}

.title-14-grey {
  color: var(--secondary-color);
  font-size: var(--font-14);
  font-weight: 600;
  letter-spacing: 0.7px;

  @media screen and (min-width: 769px) {
    font-weight: 500;
  }
}

.title-20-black {
  color: var(--black);
  font-size: var(--font-20);
  font-weight: 600;
  line-height: 36px;
}

.title-13-orange-left {
  color: var(--orange);
  font-size: var(--font-13);
  line-height: 22px;
  letter-spacing: 1.3px;
  padding-bottom: 0.75rem;
}

// SUMMARY
.summary-14-primary {
  color: var(--primary-color);
  font-size: var(--font-14);
  font-weight: 400;
  line-height: 22px;
}

.summary-16-primary {
  color: var(--primary-color);
  font-size: var(--font-16);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.16px;
  padding-top: 1.5rem;
  max-width: 481px;
  @media screen and (min-width: 769px) {
    max-width: 510px;
  }
}

.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 1s forwards 1.5s;
}

.fade-in-bottom {
  opacity: 0;
  animation: fadeInBottom 1s forwards 1.7s;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 1s forwards 2.3s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// -------------------------------------------------------------
.floating-element {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.floating-element.visible {
  opacity: 1;
  transform: translateY(0);
}

// -------------------------------------------------------------
.floating-element-2nd {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s 1s, transform 1s 1s;
}

.floating-element-2nd.visible {
  opacity: 1;
  transform: translateY(0);
}

// -------------------------------------------------------------
.floating-element-3rd {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s 2s, transform 1s 2s;
}

.floating-element-3rd.visible {
  opacity: 1;
  transform: translateY(0);
}

// -------------------------------------------------------------
.appear-element {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.appear-element.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-1 {
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
}

.appear-element-desktop-1.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-2 {
  opacity: 0;
  transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
}

.appear-element-desktop-2.visible {
  opacity: 1;
}

// -------------------------------------------------------------
.appear-element-desktop-3 {
  opacity: 0;
  transition: opacity 0.4s 0.4s, transform 0.4s 0.4s;
}

.appear-element-desktop-3.visible {
  opacity: 1;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../../public/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../../public/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
