* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'SUIT', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
