:root {
  --primary-color: #18181b;
  --secondary-color: #6a6a76;
  --alt-primary-color: #18181a;
  --white: #fff;
  --black: #000;
  --gray: #f5f5f5;
  --grayish-blue: #687083;
  --pink: #e1e1e1;
  --orange: #fd7103;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-42: 42px;

  --border-radius-20: 20px;
  --border-radius-25: 25px;

  --tablet-screen: 768px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'SUIT', sans-serif;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

a {
  color: var(--primary-color);
  font-size: var(--font-14);
  font-weight: 700;
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

.outlined-button {
  font-weight: 500;
}

.rounded-button {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-20);
  color: var(--white);
  font-weight: 500;
  padding: 0.625rem 0.75rem;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../public/fonts/SUIT-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
