.pagination {
  max-width: 1200px;
  margin: 0 auto 10rem;

  ul {
    flex-direction: row;
    gap: 24px;
    margin: auto;
    width: fit-content;

    a {
      align-items: center;
      background-color: var(--white);
      border: none;
      cursor: pointer;
      color: var(--ash-gray);
      display: flex;
      justify-content: center;
      font-size: var(--font-16);
      font-family: 'Spoqa Han Sans Neo', sans-serif;
      font-weight: 400;
      height: 1.25rem;
      text-align: center;

      &.selected {
        color: var(--black);
        font-weight: 800;
      }
    }
  }
}
