.categorySearch {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 7.25rem 20px 2.5rem;

  h1 {
    color: var(--white);
    font-size: var(--font-52);
    font-weight: 600;
    line-height: 62px;
    margin: 0;
    text-align: center;
    width: 570px;
  }

  summary {
    color: var(--white);
    font-size: var(--font-14);
    font-weight: 500;
    margin-top: 1.5rem;
    line-height: 30px;
    list-style-type: none;
    letter-spacing: 0.56px;
  }

  .searchInput {
    border-radius: var(--border-radius-6);
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    margin-top: 2.375rem;
    padding: 11px 12px 13px;
    position: relative;
    width: 792px;

    label {
      display: none;
    }

    input {
      background-color: transparent;
      border: none;
      color: var(--white);
      font-family: 'SUIT', sans-serif;
      font-size: var(--font-16);
      height: 100%;
      left: 0;
      outline: none;
      position: absolute;
      top: 0;
      padding-left: 2.5rem;
      width: 100%;
    }
  }

  nav {
    align-items: center;
    display: flex;
    margin-top: 1.75rem;

    ul {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      flex-wrap: wrap;

      h5 {
        color: var(--white);
        font-size: var(--font-13);
        font-weight: 500;
        line-height: 22px;
      }

      li {
        button {
          align-items: center;
          background-color: var(--primary-color);
          border: 1px solid var(--dim-gray);
          border-radius: var(--border-radius-16-5);
          color: var(--white);
          cursor: pointer;
          display: flex;
          font-size: var(--font-14);
          font-weight: 500;
          font-family: 'SUIT', sans-serif;
          height: 33px;
          letter-spacing: 0.42px;
          line-height: 22px;
          padding: 6px 1rem 5px;
          transition: 0.4s;

          &:hover {
            color: var(--orange);
          }
        }
      }
    }
  }
}

.productListMain {
  margin: auto;
  max-width: 1200px;
  padding: 2.5rem 0 0;

  nav {
    padding-bottom: 3.75rem;

    ul {
      flex-direction: row;
      justify-content: center;
      gap: 0.625rem;

      li {
        .button {
          align-items: center;
          display: flex;
          font-weight: 400;
          justify-content: center;
          min-width: 78px;
          width: 100%;
        }

        &:nth-of-type(3) {
          .button {
            min-width: 76px;
          }
        }

        &:nth-of-type(5) {
          .button {
            min-width: 123px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .categorySearch {
    margin-top: 4.5rem;
    padding-bottom: 2.75rem;
    padding-top: 2.75rem;

    h1 {
      font-size: var(--font-28);
      font-weight: 700;
      line-height: 38px;
      width: auto;
    }

    .searchInput {
      margin-top: 2rem;
      width: 100%;
    }

    nav {
      margin-top: 1rem;

      ul {
        gap: 0.5rem;

        li {
          &:last-child {
            margin-right: 24px;
          }
        }
      }
    }
  }

  .productListMain {
    padding: 1.25rem 1.25rem 0;

    nav {
      padding-bottom: 1.5rem;

      ul {
        justify-content: start;
        overflow: auto;
        margin: 0 -1.25rem;
        padding: 0 1.25rem;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
